html {
  font-size: 4px; // * 方便unocss计算：1单位 = 0.25rem = 1px
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f2f2f2;
  font-family: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Noto Sans SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;;
}

#app {
  width: 100%;
  height: 100%;
}

/* router view transition fade-slide */
.fade-slide-leave-active,
.fade-slide-enter-active {
  transition: all 0.3s;
}

.fade-slide-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-slide-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* 自定义滚动条样式 */
.cus-scroll {
  overflow: auto;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
}

.cus-scroll-x {
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 0;
    height: 8px;
  }
}

.cus-scroll-y {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
    height: 0;
  }
}

.cus-scroll,
.cus-scroll-x,
.cus-scroll-y {
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 4px;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background: #bfbfbf;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: var(--primary-color);
    }
  }
}
