<title>功能演示二 - 上传组件</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>组件</cite></a>
        <a><cite>上传组件</cite></a>
        <a><cite>功能演示二</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">

        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">高级应用：制作一个多文件列表</div>
                <div class="layui-card-body">
                    <div class="layui-upload">
                        <button type="button" class="layui-btn layui-btn-normal" id="test-upload-testList">选择多文件
                        </button>
                        <div class="layui-upload-list">
                            <table class="layui-table">
                                <colgroup>
                                    <col>
                                    <col width="150">
                                    <col width="260">
                                    <col width="150">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>文件名</th>
                                    <th>大小</th>
                                    <th>上传进度</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody id="test-upload-demoList"></tbody>
                            </table>
                        </div>
                        <button type="button" class="layui-btn" id="test-upload-testListAction">开始上传</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">选完文件后不自动上传</div>
                <div class="layui-card-body">
                    <div class="layui-upload">
                        <button type="button" class="layui-btn layui-btn-normal" id="test-upload-change">选择文件
                        </button>
                        <button type="button" class="layui-btn" id="test-upload-change-action">开始上传</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">拖拽上传</div>
                <div class="layui-card-body">
                    <div class="layui-upload-drag" id="test-upload-drag">
                        <i class="layui-icon"></i>
                        <p>点击上传，或将文件拖拽到此处</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">绑定原始文件域</div>
                <div class="layui-card-body">
                    <input type="file" name="file" id="test-upload-primary">
                </div>
            </div>
        </div>

    </div>
</div>

<script>
  layui.use(['admin', 'upload', 'element'], function () {
    var $ = layui.jquery
      , upload = layui.upload
      , element = layui.element

    //多文件列表示例
    var uploadListIns = upload.render({
      elem: '#test-upload-testList'
      , elemList: $('#test-upload-demoList') //列表元素对象
      , url: 'https://httpbin.org/post'
      , accept: 'file'
      , multiple: true
      , number: 3
      , auto: false
      , bindAction: '#test-upload-testListAction'
      , choose: function (obj) {
        var that = this
        var files = this.files = obj.pushFile() //将每次选择的文件追加到文件队列
        //读取本地文件
        obj.preview(function (index, file, result) {
          var tr = $(['<tr id="upload-' + index + '">'
            , '<td>' + file.name + '</td>'
            , '<td>' + (file.size / 1014).toFixed(1) + 'kb</td>'
            , '<td><div class="layui-progress" lay-filter="progress-demo-' + index + '"><div class="layui-progress-bar" lay-percent=""></div></div></td>'
            , '<td>'
            , '<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
            , '<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
            , '</td>'
            , '</tr>'].join(''))

          //单个重传
          tr.find('.demo-reload').on('click', function () {
            obj.upload(index, file)
          })

          //删除
          tr.find('.demo-delete').on('click', function () {
            delete files[index] //删除对应的文件
            tr.remove()
            uploadListIns.config.elem.next()[0].value = '' //清空 input file 值，以免删除后出现同名文件不可选
          })

          that.elemList.append(tr)
          element.render('progress') //渲染新加的进度条组件
        })
      }
      , done: function (res, index, upload) { //成功的回调
        var that = this
        //if(res.code == 0){ //上传成功
        var tr = that.elemList.find('tr#upload-' + index)
          , tds = tr.children()
        tds.eq(3).html('') //清空操作
        delete this.files[index] //删除文件队列已经上传成功的文件
        return
        //}
        this.error(index, upload)
      }
      , allDone: function (obj) { //多文件上传完毕后的状态回调
        console.log(obj)
      }
      , error: function (index, upload) { //错误回调
        var that = this
        var tr = that.elemList.find('tr#upload-' + index)
          , tds = tr.children()
        tds.eq(3).find('.demo-reload').removeClass('layui-hide') //显示重传
      }
      , progress: function (n, elem, e, index) {
        element.progress('progress-demo-' + index, n + '%') //执行进度条。n 即为返回的进度百分比
      }
    })

    //选完文件后不自动上传
    upload.render({
      elem: '#test-upload-change'
      , url: '/upload/'
      , auto: false
      //,multiple: true
      , bindAction: '#test-upload-change-action'
      , done: function (res) {
        console.log(res)
      }
    })

    //拖拽上传
    upload.render({
      elem: '#test-upload-drag'
      , url: '/upload/'
      , done: function (res) {
        console.log(res)
      }
    })

    //绑定原始文件域
    upload.render({
      elem: '#test-upload-primary'
      , url: '/upload/'
      , done: function (res) {
        console.log(res)
      }
    })

  })
</script>