<!--
Name: 网站 - 编辑
Author: 耗子
Date: 2023-07-24
-->
<script type="text/html" template lay-done="layui.data.sendParams(d.params)">
    <div class="layui-tab" lay-filter="website-edit-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">域名端口</li>
            <li>基本设置</li>
            <li>防火墙</li>
            <li>SSL</li>
            <li>伪静态</li>
            <li>配置原文</li>
            <li>访问日志</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <!-- 域名绑定 -->
                <div class="layui-form">
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">域名</label>
                        <div class="layui-input-block">
                            <div class="layui-input-inline" id="domains">
                                {{# layui.each(d.params.config.domains, function(index, item){ }}
                                <div class="layui-form-item">
                                    <div class="layui-input-inline">
                                        <input type="text" name="domains[]" lay-verify="required" value="{{ item }}"
                                               class="layui-input" style="width: 200%;">
                                    </div>
                                    <div class="layui-input-block" style="margin-left: 480px">
                                        <button type="button"
                                                class="layui-btn layui-btn-danger layui-btn-sm removeclass"><i
                                                class="layui-icon">&#xe67e;</i></button>
                                    </div>
                                </div>
                                {{# }); }}
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block" style="margin-left: 480px">
                                    <button id="add-domain" type="button"
                                            class="layui-btn layui-btn-warm layui-btn-sm">
                                        <i class="layui-icon">&#xe654;</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">端口</label>
                        <div class="layui-input-block">
                            <div class="layui-input-inline" id="ports">
                                {{# layui.each(d.params.config.ports, function(index, item){ }}
                                <div class="layui-form-item">
                                    <div class="layui-input-inline">
                                        <input type="text" name="ports[]" lay-verify="required" value="{{ item }}"
                                               class="layui-input" style="width: 200%;">
                                    </div>
                                    <div class="layui-input-block" style="margin-left: 480px">
                                        <button type="button"
                                                class="layui-btn layui-btn-danger layui-btn-sm removeclass"><i
                                                class="layui-icon">&#xe67e;</i></button>
                                    </div>
                                </div>
                                {{# }); }}
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block" style="margin-left: 480px">
                                    <button id="add-port" type="button"
                                            class="layui-btn layui-btn-warm layui-btn-sm">
                                        <i class="layui-icon">&#xe654;</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-tab-item">
                <!-- 基本设置 -->
                <div class="layui-form layui-form-pane">
                    <div class="layui-form-item">
                        <label class="layui-form-label">网站目录</label>
                        <div class="layui-input-block">
                            <input type="text" name="path" autocomplete="off" placeholder="请输入网站目录"
                                   class="layui-input" value="{{ d.params.config.path }}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">运行目录</label>
                        <div class="layui-input-block">
                            <input type="text" name="root" autocomplete="off"
                                   placeholder="请输入网站运行目录（Laravel等程序需要）"
                                   class="layui-input" value="{{ d.params.config.root }}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">默认文档</label>
                        <div class="layui-input-block">
                            <input type="text" name="index" autocomplete="off" placeholder="请输入默认文档，以空格隔开"
                                   class="layui-input" value="{{ d.params.config.index }}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">PHP版本</label>
                        <div class="layui-input-block">
                            <select name="php" lay-filter="website-php">
                                {{# layui.each(d.params.php, function(index, item){ }}
                                {{# if(item.slug == d.params.config.php){ }}
                                <option value="{{ item.slug }}" selected="">{{ item.name }}</option>
                                {{# }else{ }}
                                <option value="{{ item.slug }}">{{ item.name }}</option>
                                {{# } }}
                                {{# }); }}
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item" pane="">
                        <label class="layui-form-label">防跨站攻击</label>
                        <div class="layui-input-block">
                            <input type="checkbox" name="open_basedir" lay-skin="switch" lay-text="ON|OFF"
                                   {{ d.params.config.open_basedir ? 'checked' : '' }}>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-tab-item">
                <!-- 防火墙 -->
                <blockquote class="layui-elem-quote layui-quote-nm">
                    面板自带开源的 ngx_waf 防火墙<br>文档参考：<a
                        href="https://docs.addesp.com/ngx_waf/zh-cn/advance/directive.html"
                        target="_blank">https://docs.addesp.com/ngx_waf/zh-cn/advance/directive.html</a>
                </blockquote>
                <div class="layui-form layui-form-pane">
                    <div class="layui-form-item" pane="">
                        <label class="layui-form-label">总开关</label>
                        <div class="layui-input-inline">
                            <input type="checkbox" name="waf" lay-skin="switch" lay-text="ON|OFF"
                                   {{ d.params.config.waf ? 'checked' : '' }}>
                        </div>
                        <div class="layui-form-mid layui-word-aux">只有打开了总开关，下面的设置才会生效！</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">模式</label>
                        <div class="layui-input-block">
                            <input type="text" name="waf_mode" autocomplete="off" placeholder="DYNAMIC"
                                   class="layui-input" value="{{ d.params.config.waf_mode }}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">CC</label>
                        <div class="layui-input-block">
                            <input type="text" name="waf_cc_deny" autocomplete="off"
                                   placeholder="rate=1000r/m duration=60m"
                                   class="layui-input" value="{{ d.params.config.waf_cc_deny }}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">缓存</label>
                        <div class="layui-input-block">
                            <input type="text" name="waf_cache" autocomplete="off" placeholder="capacity=50"
                                   class="layui-input" value="{{ d.params.config.waf_cache }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-tab-item">
                <!-- SSL -->
                <div class="layui-form layui-form-pane">
                    <div class="layui-form-item" pane="">
                        <label class="layui-form-label">总开关</label>
                        <div class="layui-input-inline">
                            <input type="checkbox" name="ssl" lay-skin="switch" lay-text="ON|OFF"
                                   {{ d.params.config.ssl ? 'checked' : '' }}>
                        </div>
                        <div class="layui-form-mid layui-word-aux">只有打开了总开关，下面的设置才会生效！</div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">HTTP跳转</label>
                            <div class="layui-input-block">
                                <input type="checkbox" name="http_redirect" lay-skin="switch" lay-text="ON|OFF"
                                       {{ d.params.config.http_redirect ? 'checked' : '' }}>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">HSTS</label>
                            <div class="layui-input-inline">
                                <input type="checkbox" name="hsts" lay-skin="switch" lay-text="ON|OFF"
                                       {{ d.params.config.hsts ? 'checked' : '' }}>
                            </div>
                        </div>
                        <!--<div class="layui-inline">
                            <div class="layui-input-inline">
                                <button id="issue-ssl" class="layui-btn layui-btn-sm">签发免费SSL证书</button>
                            </div>
                        </div>-->
                    </div>

                    <div class="layui-form-item layui-form-text">
                        {{# if(d.params.config.ssl){ }}
                        <label class="layui-form-label">证书 <span style="color: red; float: right;">剩余有效期：{{ d.params.config.ssl_date }}天</span></label>
                        {{# }else{ }}
                        <label class="layui-form-label">证书</label>
                        {{# } }}
                        <div class="layui-input-block">
                            <textarea name="ssl_certificate" placeholder="请输入pem证书文件的内容"
                                      class="layui-textarea">{{ d.params.config.ssl_certificate }}</textarea>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">私钥</label>
                        <div class="layui-input-block">
                            <textarea name="ssl_certificate_key" placeholder="请输入key私钥文件的内容"
                                      class="layui-textarea">{{ d.params.config.ssl_certificate_key }}</textarea>
                        </div>
                    </div>

                </div>
            </div>
            <div class="layui-tab-item">
                <!-- 伪静态 -->
                <blockquote class="layui-elem-quote layui-quote-nm">
                    设置伪静态规则，填入 <code>location</code> 部分即可
                </blockquote>
                <div id="rewrite-editor" style="height: 400px;">{{ d.params.config.rewrite }}</div>
            </div>
            <div class="layui-tab-item">
                <!-- 配置原文 -->
                <blockquote class="layui-elem-quote layui-quote-nm">
                    如果您不了解配置规则，请勿随意修改，否则可能会导致网站无法访问或面板功能异常！如果已经遇到问题，可尝试：
                    <button id="site-config-restore" class="layui-btn layui-btn-xs">重置配置</button>
                    <br>
                    如果你修改了原文，那么点击保存后，其余的修改将不会生效！
                </blockquote>
                <div id="config-editor" style="height: 400px;">{{ d.params.config.raw }}</div>
            </div>
            <div class="layui-tab-item">
                <!-- 访问日志 -->
                <button id="clean-site-log" class="layui-btn">清空日志</button>
                <pre id="website-log" class="layui-code" lay-options="{about: '{{ d.params.config.name }}.log'}">{{ d.params.config.log }}</pre>
            </div>
        </div>
    </div>
    <div class="layui-footer">
        <button id="save-site-config" class="layui-btn">保存设置</button>
    </div>
</script>
<script>
    let rewriteEditor = ''
    let configEditor = ''
    layui.data.sendParams = function (params) {
        layui.use(['admin', 'form', 'laydate', 'code'], function () {
            var $ = layui.$
                , admin = layui.admin
                , layer = layui.layer
                , code = layui.code
                , form = layui.form
                , element = layui.element
            form.render()
            element.render()
            element.on('tab(website-edit-tab)', function (data) {
                if (data.index === 6) {
                    // 隐藏保存按钮
                    $('.layui-footer').hide()
                } else {
                    $('.layui-footer').show()
                }
            })
            rewriteEditor = ace.edit('rewrite-editor', {
                mode: 'ace/mode/nginx',
                selectionStyle: 'text'
            })
            configEditor = ace.edit('config-editor', {
                mode: 'ace/mode/nginx',
                selectionStyle: 'text'
            })
            code({
                elem: '#website-log'
                , encode: true
                , about: false

            })

            $('#clean-site-log').click(function () {
                layer.confirm('确定要清空日志吗？', function (index) {
                    layer.close(index)
                    layer.load()
                    admin.req({
                        url: '/api/panel/website/clearLog'
                        , type: 'post'
                        , data: {name: params.config.name}
                        , success: function (res) {
                            layer.closeAll('loading')
                            if (res.code === 0) {
                                layer.msg('已清空', {icon: 1})
                                setTimeout(function () {
                                    admin.render()
                                }, 1000)
                            } else {
                                layer.msg(res.message, {icon: 2})
                            }
                        }
                    })
                })
            })

            $('#save-site-config').click(function () {
                layer.load()
                let ports = $("input[name='ports[]']").map(function () {
                    return $(this).val();
                }).get()

                let domains = $("input[name='domains[]']").map(function () {
                    return $(this).val();
                }).get()
                var reg = new RegExp(/\n443.*\n?/);
                // 如果开启了https，就自动添加443端口
                if ($('input[name="ssl"]').prop('checked') && !reg.test(ports)) {
                    ports = ports + '\n443 ssl http2';
                }
                // 如果关闭了https，就自动删除443端口
                if (!$('input[name="ssl"]').prop('checked') && reg.test(ports)) {
                    ports = ports.replace(/443.*\n?/, '');
                }

                admin.req({
                    url: '/api/panel/website/config'
                    , type: 'post'
                    , data: {
                        id: params.data.id,
                        domains: domains.join('\n'),
                        ports: ports.join('\n'),
                        ssl: $('input[name="ssl"]').prop('checked'),
                        http_redirect: $('input[name="http_redirect"]').prop('checked'),
                        hsts: $('input[name="hsts"]').prop('checked'),
                        ssl_certificate: $('textarea[name="ssl_certificate"]').val(),
                        ssl_certificate_key: $('textarea[name="ssl_certificate_key"]').val(),
                        path: $('input[name="path"]').val(),
                        root: $('input[name="root"]').val(),
                        index: $('input[name="index"]').val(),
                        php: $('select[name="php"]').val(),
                        open_basedir: $('input[name="open_basedir"]').prop('checked'),
                        waf: $('input[name="waf"]').prop('checked') ? 'on' : 'off',
                        waf_mode: $('input[name="waf_mode"]').val(),
                        waf_cc_deny: $('input[name="waf_cc_deny"]').val(),
                        waf_cache: $('input[name="waf_cache"]').val(),
                        rewrite: rewriteEditor.getValue(),
                        raw: configEditor.getValue()
                    }
                    , success: function (res) {
                        layer.closeAll('loading')
                        if (res.code === 0) {
                            layer.msg('保存成功', {icon: 1})
                            setTimeout(function () {
                                admin.render()
                            }, 1000)
                        } else {
                            layer.msg(res.message, {icon: 2})
                        }
                    }
                })
            })

            // 重置配置
            $('#site-config-restore').click(function () {
                layer.confirm('高风险操作，网站配置重置后所有配置均需重新设置，确定要重置配置吗？', function (index) {
                    index = layer.msg('重置网站配置', {
                        icon: 16
                        , time: 0
                    })
                    admin.req({
                        url: '/api/panel/website/resetConfig'
                        , type: 'post'
                        , data: {id: params.data.id}
                        , success: function (res) {
                            layer.close(index)
                            if (res.code === 0) {
                                layer.alert('重置成功，你需要重新添加域名/端口绑定，设置各配置参数！', function (index) {
                                    admin.render()
                                    layer.close(index)
                                })
                            } else {
                                layer.msg(res.message, {icon: 2})
                            }
                        }
                    })
                })
            })

            // 监听签发证书按钮
            $('#issue-ssl').click(function () {
                layer.confirm('确定要申请签发免费SSL证书吗？', function (index) {
                    index = layer.msg('正在签发证书，可能需要较长时间，请勿操作...', {
                        icon: 16
                        , time: 0
                    })
                    admin.req({
                        url: '/api/panel/website/issueSsl'
                        , type: 'post'
                        , data: {
                            name: params.config.name
                            , type: 'lets'
                        }
                        , success: function (res) {
                            layer.close(index)
                            if (res.code === 0) {
                                layer.msg('签发成功', {icon: 1})
                                setTimeout(function () {
                                    admin.render()
                                }, 1000)
                            } else {
                                layer.alert(res.message, {icon: 2})
                            }
                        }
                    })
                })
            })

            // 动态添加input输入框
            $("#add-domain").click(function () {
                var str = '<div class="layui-form-item">' +
                    '<div class="layui-input-inline">' +
                    '<input type="text" name="domains[]" placeholder="example.com" lay-verify="required"' +
                    'class="layui-input" style="width: 200%;">' +
                    '</div>' +
                    '<div class="layui-input-block" style="margin-left: 480px">' +
                    '<button type="button" class="layui-btn layui-btn-danger layui-btn-sm removeclass"><i class="layui-icon">&#xe67e;</i></button>' +
                    '</div>' +
                    '</div>';

                $("#domains").append(str);

                form.render();
            });
            $("#add-port").click(function () {
                var str = '<div class="layui-form-item">' +
                    '<div class="layui-input-inline">' +
                    '<input type="text" name="ports[]" placeholder="443 ssl" lay-verify="required"' +
                    'class="layui-input" style="width: 200%;">' +
                    '</div>' +
                    '<div class="layui-input-block" style="margin-left: 480px">' +
                    '<button type="button" class="layui-btn layui-btn-danger layui-btn-sm removeclass"><i class="layui-icon">&#xe67e;</i></button>' +
                    '</div>' +
                    '</div>';

                $("#ports").append(str);

                form.render();
            });

            //删除动态添加的input输入框
            $("body").on('click', ".removeclass", function () {
                let parentEle = $(this).parent().parent();
                parentEle.remove();
                form.render();
            });
        })
    }
</script>
