<!--
Name: 网站 - 列表
Author: 耗子
Date: 2023-07-71
-->
<title>网站</title>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">网站列表</div>
                <div class="layui-card-body">
                    <table class="layui-hide" id="website-list" lay-filter="website-list"></table>

                    <!-- 顶部工具栏 -->
                    <script type="text/html" id="website-list-bar">
                        <div class="layui-btn-container">
                            <button class="layui-btn layui-btn-sm" lay-event="website_add">添加网站</button>
                            <button class="layui-btn layui-btn-sm" lay-event="website_default_config">全局设置
                            </button>
                        </div>
                    </script>
                    <!-- 右侧网站设置和删除网站 -->
                    <script type="text/html" id="website-control">
                        <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="backup">备份</a>
                        <a class="layui-btn layui-btn-xs" lay-event="edit">设置</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                    </script>
                    <!-- 网站运行状态开关 -->
                    <script type="text/html" id="website-run">
                        <input type="checkbox" name="run" lay-skin="switch" lay-text="ON|OFF"
                               lay-filter="website-run-checkbox"
                               value="{{ d.status }}" data-website-id="{{ d.id }}"
                               {{ d.status ? 'checked' : '' }}>
                    </script>
                    <!-- 网站SSL状态 -->
                    <script type="text/html" id="website-ssl">
                        {{ d.ssl ? '已开启' : '未开启' }}
                    </script>
                    <!-- 网站PHP版本 -->
                    <script type="text/html" id="website-php">
                        {{ d.php == '0' ? '不使用' : d.php }}
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let php, mysql, postgresql
    layui.use(['admin', 'table', 'form', 'view'], function () {
        var admin = layui.admin
            , table = layui.table
            , form = layui.form
            , view = layui.view

        // 获取已安装的PHP和DB版本
        admin.req({
            url: '/api/panel/info/installedDbAndPhp'
            , type: 'get'
            , success: function (result) {
                php = result.data.php
                mysql = result.data.mysql
                postgresql = result.data.postgresql
            }
        })
        table.render({
            elem: '#website-list'
            , url: '/api/panel/website/list'
            , toolbar: '#website-list-bar'
            , title: '网站列表'
            , cols: [[
                {field: 'id', hide: true, title: 'ID', sort: true}
                , {field: 'name', title: '网站名', width: 150, unresize: true, sort: true}
                , {field: 'run', title: '运行', width: 100, templet: '#website-run', unresize: true}
                , {field: 'path', title: '目录', width: 250}
                , {field: 'php', title: 'PHP', width: 100, templet: '#website-php'}
                , {field: 'ssl', title: 'SSL', width: 100, templet: '#website-ssl'}
                , {field: 'remark', title: '备注', edit: 'textarea'}
                , {fixed: 'right', title: '操作', unresize: true, toolbar: '#website-control', width: 180}
            ]]
            , parseData: function (res) {
                return {
                    'code': res.code,
                    'msg': res.message,
                    'count': res.data.total,
                    'data': res.data.items
                }
            }
            , page: true
        })

        // 头工具栏事件
        table.on('toolbar(website-list)', function (obj) {
            if (obj.event === 'website_add') {
                admin.popup({
                    title: '添加网站'
                    , area: ['80%', '60%']
                    , id: 'LAY-popup-website-add'
                    , success: function (layer, index) {
                        view(this.id).render('website/add', {
                            php: php,
                            mysql: mysql,
                            postgresql: postgresql
                        }).done(function () {
                            form.render(null, 'LAY-popup-website-add')
                        })
                    }
                })
            } else if (obj.event === 'website_default_config') {
                admin.popup({
                    title: '全局设置'
                    , area: ['80%', '80%']
                    , id: 'LAY-popup-website-add'
                    , success: function (layer, index) {
                        view(this.id).render('website/default_config', {}).done(function () {
                            form.render(null, 'LAY-popup-website-default-config')
                        })
                    }
                })
            }
        })

        // 行工具事件
        table.on('tool(website-list)', function (obj) {
            let data = obj.data
            if (obj.event === 'del') {
                layer.confirm('删除网站将一并删除站点目录（不包括数据库），是否继续？', function (index) {
                    admin.req({
                        url: '/api/panel/website/delete'
                        , type: 'post'
                        , data: data
                        , success: function (result) {
                            if (result.code !== 0) {
                                console.log('耗子Linux面板：网站删除失败，接口返回' + result)
                                layer.msg('网站删除失败，请刷新重试！')
                                return false
                            }
                            obj.del()
                            layer.alert('网站' + data.name + '删除成功！')
                        }
                    })
                    layer.close(index)
                })
            } else if (obj.event === 'edit') {
                let config

                admin.req({
                    url: '/api/panel/website/config?id=' + data.id
                    , type: 'get'
                    , beforeSend: function (request) {
                        layer.load()
                    }
                    , success: function (result) {
                        if (result.code !== 0) {
                            console.log('耗子Linux面板：网站设置获取失败，接口返回' + result)
                            layer.alert('网站设置获取失败！')
                            return false
                        }
                        config = result.data
                        layer.closeAll('loading')
                        // 打开编辑网站页面
                        admin.popup({
                            title: '编辑网站 - ' + data.name
                            , area: ['80%', '80%']
                            , id: 'LAY-popup-website-edit'
                            , success: function (layero, index) {
                                view(this.id).render('website/edit', {
                                    id : data.id,
                                    php: php,
                                    mysql: mysql,
                                    postgresql: postgresql,
                                    data: data,
                                    config: config
                                }).done(function () {
                                    form.render(null, 'LAY-popup-website-edit')
                                })
                            }
                        })
                    }
                })
            } else if (obj.event === 'backup') {
                // 打开备份页面
                admin.popup({
                    title: '备份管理 - ' + data.name
                    , area: ['70%', '80%']
                    , id: 'LAY-popup-website-backup'
                    , success: function (layero, index) {
                        view(this.id).render('website/backup', {
                            data: data
                        }).done(function () {
                            form.render(null, 'LAY-popup-website-backup')
                        })
                    }
                })
            }
        })

        // 网站备注编辑
        table.on('edit(website-list)', function (obj) {
            let value = obj.value // 得到修改后的值
                , data = obj.data // 得到行数据
            admin.req({
                url: '/api/panel/website/updateRemark'
                , type: 'post'
                , data: {
                    id: data.id,
                    remark: value
                }
                , success: function (result) {
                    if (result.code !== 0) {
                        console.log('耗子Linux面板：网站备注更新失败，接口返回' + result)
                        layer.msg('网站备注更新失败，请刷新重试！')
                        return false
                    }
                    layer.alert('网站 ' + data.name + ' 备注更新成功！')
                }
            })
        })

        // 网站运行状态操作
        form.on('switch(website-run-checkbox)', function (obj) {
            let $ = layui.$
            let website_id = $(this).data('website-id')
            let status = obj.elem.checked

            admin.req({
                url: '/api/panel/website/status'
                , type: 'post'
                , data: {
                    id: website_id,
                    status: status
                }
                , success: function (result) {
                    if (result.code !== 0) {
                        console.log('耗子Linux面板：网站运行状态设置失败，接口返回' + result)
                        layer.msg('网站运行状态设置失败，请刷新重试！')
                        return false
                    }
                    layer.alert('运行状态修改成功')
                }
            })
        })

    })
</script>
