<title>搜索结果</title>

<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.paths.base }}style/template.css?v={{ layui.admin.v }}" media="all">
</script>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>页面</cite></a>
        <a><cite>搜索结果</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card layadmin-serach-main">
                <div class="layui-card-header">
                    <p style="font-size: 18px;">
                        <span style="color: #01AAED">关键词</span> 查询到
                        <strong>66</strong> 个结果
                    </p>
                    <p class="layadmin-font-em">耗时：350ms</p>
                </div>
                <div class="layui-card-body">

                    <ul class="layadmin-serach-list layui-text">
                        <li>
                            <div class="layui-serachlist-text">
                                <h3><a href="http://www.baidu.com#/admin/" target="_blank">前端的进化？</a></h3>
                                <p>
                                    在前端技术的快速发展中找准你的定位，在思考与实践中沉淀。。在前端技术的快速发展中找准你的定位，在思考与实践中沉淀。。在前端技术的快速发展中找准你的定位，在思考与实践中沉淀。。在前端技术的快速发展中找准你的定位，在思考与实践中沉淀。。在前端技术的快速发展中找准你的定位，在思考与实践中沉淀。。在前端技术的快速发展中找准你的定位，在思考与实践中沉淀。。在前端技术的快速发展中找准你的定位，在思考与实践中沉淀。。在前端技术的快速发展中找准你的定位，在思考与实践中沉淀。。在前端技术的快速发展中找准你的定位，在思考与实践中沉淀。。在前端技术的快速发展中找准你的定位，在思考与实践中沉淀。。</p>
                            </div>
                        </li>
                        <li>
                            <a href="http://www.baidu.com#/admin/" target="_blank" class="layui-serachlist-cover">
                                <script type="text/html" template>
                                    <img src="{{ layui.setter.paths.base }}style/imgs/layui-logo.jpg">
                                </script>
                            </a>
                            <div class="layui-serachlist-text">
                                <h3><a href="http://www.baidu.com#/admin/" target="_blank">前端 UI</a></h3>
                                <p> UI 设计（或称界面设计）是指对软件的人机交互、操作逻辑、界面美观的整体设计。 UI 设计分为实体
                                    UI和虚拟 UI，互联网常用的 UI 设计是虚拟 UI， UI即 User Interface (用户界面)的简称。</p>
                            </div>
                        </li>
                        <li>
                            <div class="layui-serachlist-text">
                                <h3><a href="http://www.baidu.com#/admin/" target="_blank">前端的进化？</a></h3>
                                <p>
                                    在前端技术的快速发展中找准你的定位，在思考与实践中沉淀。。在前端技术的快速发展中找准你的定位，在思考与实践中沉淀。。在前端技术的快速发展中找准你的定位，在思考与实践中沉淀。。在前端技术的快速发展中找准你的定位，在思考与实践中沉淀。。在前端技术的快速发展中找准你的定位，在思考与实践中沉淀。。在前端技术的快速发展中找准你的定位，在思考与实践中沉淀。。在前端技术的快速发展中找准你的定位，在思考与实践中沉淀。。在前端技术的快速发展中找准你的定位，在思考与实践中沉淀。。在前端技术的快速发展中找准你的定位，在思考与实践中沉淀。。在前端技术的快速发展中找准你的定位，在思考与实践中沉淀。。</p>
                                <p>
                                    <span class="layui-badge layui-bg-green">前端</span>
                                    <span class="layui-badge layui-bg-blue">性别</span>
                                    <span class="layui-badge layui-bg-orange">谜</span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="layui-serachlist-text">
                                <h3>
                                    <span class="layui-badge">热点</span>
                                    <a href="http://www.baidu.com#/admin/" target="_blank"> UI 设计</a>
                                </h3>
                                <p> UI 设计（或称界面设计）是指对软件的人机交互、操作逻辑、界面美观的整体设计。 UI 设计分为实体
                                    UI和虚拟 UI，互联网常用的 UI 设计是虚拟 UI， UI即 User Interface (用户界面)的简称。</p>
                            </div>
                        </li>
                        <li>
                            <div class="layui-serachlist-text">
                                <h3><a href="http://www.baidu.com#/admin/" target="_blank">前端的进化？</a></h3>
                                <p>
                                    在前端技术的快速发展中找准你的定位，在思考与实践中沉淀。。在前端技术的快速发展中找准你的定位，在思考与实践中沉淀。。在前端技术的快速发展中找准你的定位，在思考与实践中沉淀。。在前端技术的快速发展中找准你的定位，在思考与实践中沉淀。。在前端技术的快速发展中找准你的定位，在思考与实践中沉淀。。在前端技术的快速发展中找准你的定位，在思考与实践中沉淀。。在前端技术的快速发展中找准你的定位，在思考与实践中沉淀。。在前端技术的快速发展中找准你的定位，在思考与实践中沉淀。。在前端技术的快速发展中找准你的定位，在思考与实践中沉淀。。在前端技术的快速发展中找准你的定位，在思考与实践中沉淀。。</p>
                            </div>
                        </li>
                    </ul>
                    <div id="LAY-template-search-page" style="text-align: center;"></div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
  layui.use(['admin', 'laypage'], function () {
    var laypage = layui.laypage

    laypage.render({
      elem: 'LAY-template-search-page'
      , count: 66
      , jump: function (obj, first) {
        if (!first) {
          layer.msg('第' + obj.curr + '页')
        }
      }
    })
  })
</script>
