<!--
Name: 计划任务
Author: 耗子
Date: 2023-07-21
-->
<title>计划任务</title>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">添加计划任务</div>
        <div class="layui-card-body">
            <blockquote class="layui-elem-quote">
                <p>面板的计划任务均基于脚本运行，若任务类型满足不了需求，可自行修改对应的脚本。</p>
            </blockquote>
            <form class="layui-form" action="" lay-filter="cron-add-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">任务类型</label>
                    <div class="layui-input-inline">
                        <select name="type" lay-verify="required" lay-filter="cron-type">
                            <option value="shell">运行脚本</option>
                            <option value="backup">备份数据</option>
                            <option value="cutoff">切割日志</option>
                        </select>
                    </div>
                    <div class="layui-form-mid layui-word-aux">请选择任务类型</div>
                </div>
                <div class="layui-form-item" id="cron-add-name-input">
                    <label class="layui-form-label">任务名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" lay-verify="required" placeholder="请输入任务名称"
                               autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">请填写任务名称</div>
                </div>
                <div class="layui-form-item" id="cron-add-backup-type-input" style="display: none;">
                    <label class="layui-form-label">备份类型</label>
                    <div class="layui-input-block">
                        <input type="radio" lay-filter="cron-add-backup-type-radio" name="backup_type" value="website"
                               title="网站目录" checked="">
                        <input type="radio" lay-filter="cron-add-backup-type-radio" name="backup_type" value="mysql"
                               title="MySQL数据库">
                        <input type="radio" lay-filter="cron-add-backup-type-radio" name="backup_type"
                               value="postgresql"
                               title="PostgreSQL数据库">
                    </div>
                </div>
                <div class="layui-form-item" id="cron-add-website-input" style="display: none;">
                    <label class="layui-form-label">网站</label>
                    <div class="layui-input-inline">
                        <script type="text/html" template lay-url="/api/panel/website/list?page=1&limit=10000">
                            <select name="website" lay-filter="cron-add-website">
                                {{# layui.each(d.data.items, function(index, item){ }}
                                {{# if(index == 0){ }}
                                <option value="{{ item.name }}" selected="">{{ item.name }}</option>
                                {{# }else{ }}
                                <option value="{{ item.name }}">{{ item.name }}</option>
                                {{# } }}
                                {{# }); }}
                            </select>
                        </script>
                    </div>
                    <div class="layui-form-mid layui-word-aux">请选择网站</div>
                </div>
                <div class="layui-form-item" id="cron-add-backup-database-input" style="display: none;">
                    <label class="layui-form-label">数据库名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="backup_database" placeholder="请输入数据库名"
                               autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">请填写数据库名</div>
                </div>
                <div class="layui-form-item" id="cron-add-backup-path-input" style="display: none;">
                    <label class="layui-form-label">保存目录</label>
                    <div class="layui-input-inline">
                        <input type="text" name="backup_path" placeholder=""
                               autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        目录可以为对象存储挂载目录，不填则默认为面板设置的备份目录
                    </div>
                </div>
                <div class="layui-form-item" id="cron-add-save-input" style="display: none;">
                    <label class="layui-form-label">保留份数</label>
                    <div class="layui-input-inline">
                        <input type="number" name="save" placeholder="10"
                               autocomplete="off" class="layui-input" min="0" step="1" lay-affix="number">
                    </div>
                    <div class="layui-form-mid layui-word-aux">请填写保留份数，会自动清理过剩的副本</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">执行周期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="time" id="cron-add-time"
                               lay-verify="required" placeholder="请选择或输入cron表达式" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">请务必正确填写执行周期</div>
                </div>
                <div class="layui-form-item layui-form-text" id="cron-add-shell">
                    <label class="layui-form-label">脚本内容</label>
                    <div class="layui-input-block">
                        <div id="cron-add-script-editor"
                             style="height: 250px;"># 在此输入你要执行的脚本内容</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="cron-add-submit">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-header">计划任务列表</div>
        <div class="layui-card-body">
            <table id="panel-cron" lay-filter="panel-cron"></table>
            <!-- 操作按钮模板 -->
            <script type="text/html" id="cron-table-edit">
                <a class="layui-btn layui-btn-xs" lay-event="log">日志</a>
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="del">删除</a>
            </script>
            <!-- 任务类型 -->
            <script type="text/html" id="cron-table-type">
                {{# if(d.type == 'shell'){ }}
                运行脚本
                {{# }else if(d.type == 'backup'){ }}
                备份数据
                {{# }else if(d.type == 'cutoff'){ }}
                切割日志
                {{# } }}
            </script>
            <!-- 运行开关 -->
            <script type="text/html" id="cron-table-status">
                <input type="checkbox" name="cron-status" lay-skin="switch" lay-text="ON|OFF"
                       lay-filter="cron-status"
                       value="{{ d.status }}" data-id="{{ d.id }}"
                       {{ d.status ? 'checked' : '' }}>
            </script>
        </div>
    </div>
</div>

<script>
    var cronAddScriptEditor = ace.edit("cron-add-script-editor", {
        mode: "ace/mode/sh",
        selectionStyle: "text"
    });
    var cronEditScriptEditor;
    layui.use(['admin', 'table', 'jquery', 'cron'], function () {
        var $ = layui.$
            , form = layui.form
            , table = layui.table
            , admin = layui.admin
            , cron = layui.cron;

        cron.render({
            elem: "#cron-add-time",
            btns: ['confirm'],
            show: false,
            done: function (value) {
                $('#cron-add-time').val(value);
            }
        });

        form.render();

        table.render({
            elem: '#panel-cron'
            , url: '/api/panel/cron/list'
            , cols: [[
                {field: 'id', hide: true, title: 'ID'}
                , {field: 'name', width: 150, title: '任务名', sort: true}
                , {field: 'type', width: 150, title: '任务类型', templet: '#cron-table-type', sort: true}
                , {field: 'status', title: '启用', width: 100, templet: '#cron-table-status', unresize: true}
                , {field: 'time', width: 200, title: '任务周期（cron表达式）'}
                , {field: 'created_at', title: '创建时间'}
                , {field: 'updated_at', title: '最后更新时间'}
                , {
                    field: 'edit',
                    width: 180,
                    title: '操作',
                    templet: '#cron-table-edit',
                    fixed: 'right',
                    align: 'left'
                }
            ]]
            , page: true
            , text: {
                none: '暂无数据'
            }
            , parseData: function (res) {
                return {
                    "code": res.code,
                    "msg": res.message,
                    "count": res.data.total,
                    "data": res.data.items
                };
            }
        });
        table.on('tool(panel-cron)', function (obj) {
            let data = obj.data;
            if (obj.event === 'log') {
                // 打开日志弹窗
                admin.popup({
                    title: '日志 - ' + data.name
                    ,
                    area: ['80%', '80%']
                    ,
                    id: 'cron-log'
                    ,
                    content: '<pre id="cron-log-view" style="overflow: auto; height: 95%;border: 0 none; line-height:23px; padding: 15px; margin: 0; white-space: pre-wrap; background-color: rgb(51,51,51); color:#f1f1f1; border-radius:0;"></pre>'
                    ,
                    success: function (layero, index) {
                        index2 = layer.msg('正在获取日志...', {icon: 16, time: 0, shade: 0.3});
                        admin.req({
                            url: '/api/panel/cron/log?id=' + data.id
                            , type: 'GET'
                            , success: function (res) {
                                layer.close(index2);
                                if (res.code === 0) {
                                    $('#cron-log-view').html(res.data);
                                } else {
                                    layer.msg(res.message, {icon: 2, time: 1000});
                                }
                            }
                        });
                    }
                });

            } else if (obj.event === 'edit') {
                // 打开编辑弹窗
                admin.req({
                    url: '/api/panel/cron/script?id=' + data.id
                    , type: 'GET'
                    , success: function (res) {
                        if (res.code === 0) {
                            admin.popup({
                                title: '编辑 - ' + data.name
                                ,
                                area: ['80%', '80%']
                                ,
                                id: 'cron-log'
                                ,
                                content: '任务名&nbsp;&nbsp;&nbsp;&nbsp;<div class="layui-input-inline" style="width: 190px;"><input type="text" name="cron-edit-name" placeholder="请输入任务名称" autocomplete="off" class="layui-input" value="' + data.name + '"></div>&nbsp;&nbsp;&nbsp;&nbsp;执行周期&nbsp;&nbsp;&nbsp;&nbsp;<div class="layui-input-inline" style="width: 190px;"><input id="cron-edit-time-' + data.id + '" type="text" name="cron-edit-time" placeholder="请输入执行周期" autocomplete="off" class="layui-input" value="' + data.time + '"/></div><hr><div id="cron-edit-script-editor" style="height: 80%;">' + res.data + '</div><br><button id="cron-edit-' + data.id + '" class="layui-btn">保存</button>'
                                ,
                                success: function (layero, index) {
                                    cronEditScriptEditor = ace.edit("cron-edit-script-editor", {
                                        mode: "ace/mode/sh",
                                        selectionStyle: "text"
                                    });
                                    cron.render({
                                        elem: "#cron-edit-time-" + data.id,
                                        btns: ['confirm'],
                                        show: false,
                                        done: function (value) {
                                            $('#cron-add-time').val(value);
                                        }
                                    });
                                    $('#cron-edit-' + data.id).click(function () {
                                        index2 = layer.msg('正在保存...', {icon: 16, time: 0, shade: 0.3});
                                        admin.req({
                                            url: '/api/panel/cron/update'
                                            , type: 'POST'
                                            , data: {
                                                id: data.id,
                                                name: $('input[name="cron-edit-name"]').val(),
                                                time: $('input[name="cron-edit-time"]').val(),
                                                script: cronEditScriptEditor.getValue()
                                            }
                                            , success: function (res) {
                                                if (res.code === 0) {
                                                    layer.msg('保存成功', {icon: 1, time: 1000});
                                                    table.reload('panel-cron');
                                                    layer.close(index2);
                                                    layer.close(index);
                                                } else {
                                                    layer.msg(res.message, {icon: 2, time: 1000});
                                                }
                                            }
                                        });
                                    });
                                }
                            });
                        } else {
                            layer.msg(res.message, {icon: 2, time: 1000});
                        }
                    }
                });

            } else if (obj.event === 'del') {
                layer.confirm('确定删除计划任务' + data.name + '吗？', function (index) {
                    layer.close(index);
                    admin.req({
                        url: '/api/panel/cron/delete',
                        type: 'POST',
                        data: {
                            id: data.id
                        }
                        , success: function (res) {
                            if (res.code === 0) {
                                table.reload('panel-cron');
                                layer.msg('计划任务：' + data.name + ' 已删除', {
                                    icon: 1,
                                    time: 1000
                                });
                            } else {
                                layer.msg(res.message, {icon: 2, time: 1000});
                            }
                        }
                    });
                });
            }
        });

        form.on('select(cron-type)', function (data) {
            if (data.value === 'shell') {
                $("#cron-add-backup-type-input").hide();
                $("#cron-add-save-input").hide();
                $('#cron-add-website-input').hide();
                $('#cron-add-backup-database-input').hide();
                $('#cron-add-backup-path-input').hide();
                $("#cron-add-shell").show();
            } else if (data.value === 'backup') {
                let selectedType = $('input[name="backup_type"]:checked').val();
                if (selectedType === 'website') {
                    $('#cron-add-website-input').show();
                    $('#cron-add-backup-database-input').hide();
                } else {
                    $('#cron-add-website-input').hide();
                    $('#cron-add-backup-database-input').show();
                }
                $("#cron-add-backup-type-input").show();
                $('#cron-add-backup-path-input').show();
                $("#cron-add-save-input").show();
                $("#cron-add-shell").hide();
            } else if (data.value === 'cutoff') {
                $('#cron-add-website-input').show();
                $('#cron-add-save-input').show();
                $("#cron-add-shell").hide();
                $('#cron-add-backup-database-input').hide();
                $("#cron-add-backup-type-input").hide();
                $('#cron-add-backup-path-input').hide();
            }
        });
        form.on('radio(cron-add-backup-type-radio)', function (data) {
            if (data.value == 'website') {
                $('#cron-add-website-input').show();
                $('#cron-add-backup-database-input').hide();
            } else {
                $('#cron-add-website-input').hide();
                $('#cron-add-backup-database-input').show();
            }
        });

        form.on('switch(cron-status)', function (obj) {
            let $ = layui.$;
            let id = $(this).data('id');
            let status = obj.elem.checked;

            admin.req({
                url: '/api/panel/cron/status',
                type: 'POST',
                data: {
                    id: id,
                    status: status
                }
                , success: function (res) {
                    if (res.code === 0) {
                        layer.msg('设置成功', {icon: 1, time: 1000});
                    } else {
                        layer.msg(res.message, {icon: 2, time: 1000});
                    }
                }
            });
        });

        form.on('submit(cron-add-submit)', function (data) {
            data.field.script = cronAddScriptEditor.getValue();
            admin.req({
                url: "/api/panel/cron/add"
                , type: 'post'
                , data: data.field
                , success: function (result) {
                    if (result.code !== 0) {
                        layer.msg('计划任务添加失败！')
                        return false;
                    }
                    table.reload('panel-cron');
                    layer.alert('计划任务添加成功！', {
                        icon: 1
                        , title: '提示'
                        , btn: ['确定']
                        , yes: function (index) {
                            layer.closeAll();
                        }
                    });
                }
            });
            return false;
        });
    });
</script>
