<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="robots" content="noindex,nofollow" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <link href="/favicon.png" rel="icon" />
  <link href="/loading/index.css" rel="stylesheet" />

  <title><%= title %></title>
</head>
<body class="dark:text-white dark:bg-hex-121212">
<div id="app">
  <!-- 白屏时的loading效果 -->
  <div class="loading-container">
    <img alt="logo" height="128" src="/loading/logo.png" />
    <div class="loading-spin__container">
      <div class="loading-spin">
        <div class="left-0 top-0 loading-spin-item"></div>
        <div class="left-0 bottom-0 loading-spin-item loading-delay-500"></div>
        <div class="right-0 top-0 loading-spin-item loading-delay-1000"></div>
        <div class="right-0 bottom-0 loading-spin-item loading-delay-1500"></div>
      </div>
    </div>
    <div class="loading-title"><%= title %></div>
  </div>
  <script src="/loading/index.js"></script>
</div>
<script src="/src/main.ts" type="module"></script>
</body>
</html>
